<html>
    <head>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.load('current', {'packages':['corechart']});
         google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);
        google.charts.setOnLoadCallback(drawChart3);
        google.charts.setOnLoadCallback(drawChart4);
        google.charts.setOnLoadCallback(drawChart6);
        google.charts.setOnLoadCallback(drawChart5);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['Country', 'Total Confirmed', {role: 'style'}],
            ['United States of America', 17206647 , '#c542f5'],
            ['Canada', 492556, '#c542f5'],
            ['United Kingdom', 1954268, '#c542f5'],
            ['China', 2194734, '#c542f5']
            ]);
            var options = {
            chart: {
                title: 'Confirmed cases in developed Countries',
                subtitle: 'Countries : United States of America ,Canada ,China, United Kingdom',
                //width: 600,
                //height: 400,
                        },
            bars: 'horizontal',
            colors: ['#c542f5']    // Required for Material Bar Charts.
            };
          var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
             chart.draw(data, options);
        }
        function drawChart2() {
            var data2 = google.visualization.arrayToDataTable([
                ['Country', 'Total Deaths',{ role: 'style' }],
                ['United States of America', 10699, '#b87333'],
                ['Canada', 13939 ,'#b87333'],
                ['United Kingdom', 66150, '#b87333'],
                ['China', 14759, '#b87333']
            ]);
            var options = {

             chart:{   title: 'Total Deaths ',
                subtitle: 'Countries: United States of America,Canada,China, United Kingdom',
               // width: 600,
                //height: 400,
            },

             bars: 'vertical' ,
            colors: ['#b87333']// Required for Material Bar Charts.
            };
            var chart2 = new google.visualization.BarChart(document.getElementById("barchart_values1"));
             chart2.draw(data2, options);
            }
            function drawChart3() {
            var data3 = google.visualization.arrayToDataTable([
            ['Country', 'Total Recovered', {role: 'style'}],
            ['United States of America', 7406 ,'#78f542' ],
            ['Canada', 403667, '#78f542'],
            ['United Kingdom', 4123, '#78f542'],
            ['China', 88429, '#78f542']
            ]);

            var options = {

             chart: {
                 title: 'Total Recovered ',
                 subtitle: 'Countries:United States of America,Canada,China, United Kingdom',

             },
                width: 900,
                height: 500,
            bars: 'horizontal',
              colors: ['#78f542']  // Required for Material Bar Charts.
            };

             var chart3 = new google.visualization.BarChart(document.getElementById("barchart_values2"));
               chart3.draw(data3, options);

            }
            function drawChart4() {
            var data4 = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2017', 1000, 400, 200],
          ['2018', 1170, 460, 250],
          ['2019', 660, 1120, 300],
          ['2020', 1030, 140, 50]
        ]);

            var options = {

                 chart: {
            title: 'GDP Growth of United Kingdom',
            subtitle: 'Sales, Expenses, and Profit: 2017-2020',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };
            var chart4 = new google.charts.Bar(document.getElementById('barchart_material4'));
            chart4.draw(data4, google.charts.Bar.convertOptions(options));
            }
            function drawChart6() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Months');
      data.addColumn('number', 'UK');
      data.addColumn('number', 'USA');
      data.addColumn('number', 'China');

      data.addRows([
        [1,  37.8, 80.8, 41.8],
        [2,  30.9, 69.5, 32.4],
        [3,  25.4,   57, 25.7],
        [4,  11.7, 18.8, 10.5],
        [5,  11.9, 17.6, 10.4],
        [6,   8.8, 13.6,  7.7],
        [7,   7.6, 12.3,  9.6],
        [8,  12.3, 29.2, 10.6],
        [9,  16.9, 42.9, 14.8],
        [10, 12.8, 30.9, 11.6],
        [11,  5.3,  7.9,  4.7],
        [12,  6.6,  8.4,  5.2],
        [13,  4.8,  6.3,  3.6],
        [14,  4.2,  6.2,  3.4]
      ]);

      var options = {
        chart: {
          title: 'Economic Growth',
          subtitle: 'in millions of dollars (USD)'
        },
        width: 900,
        height: 500,
        axes: {
          x: {
            0: {side: 'top'}
          }
        }
      };

      var chart6 = new google.charts.Line(document.getElementById('line_top_x'));

      chart6.draw(data, google.charts.Line.convertOptions(options));
    }
        function drawChart5() {


            var data = google.visualization.arrayToDataTable([
             ['Task', 'Hours per Day'],
          ['Work',     9],
          ['Eat',      3],
          ['Commute',  1],
          ['Watch TV', 5],
          ['Sleep',    7]
        ]);


           var options = {
               title: 'Daily Activities of an Individual'
            };

            var chart5 = new google.visualization.PieChart(document.getElementById('piechart'));

            chart5.draw(data, options);
          }
        </script>
    </head>
    <body>
        <h1 align="center" , style="color: darkblue">Top 3 News Charts</h1>
         <h2 align="centre" , style="color: brown">Chart - 1</h2>
        <div id="barchart_values" style="width: 900px; height: 500px;"></div>
        <h2 style="color: brown">Chart - 2</h2>
        <div id="barchart_values1" style="width: 900px; height: 500px;"></div>
         <h2 align="centre", style="color: brown">Chart - 3</h2>
        <div id="barchart_values2" style="width: 900px; height: 500px;"></div>
         <h2 align= "centre", style="color: brown">Chart - 4</h2>
        <div id="barchart_material4" style="width: 900px; height: 500px;"></div>
        <h2 align= "centre", style="color: brown">Chart - 5</h2>
        <div id="line_top_x"></div>
        <h2 align= "centre", style="color: brown">Chart - 6</h2>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </body>

    </html>